body {
	font-family: "Helvetica";
	background-image: url('http://www.walldevil.com/wallpapers/a86/simple-wallpapers-mountains-abstract-wallpaper.jpg');
}

h1 {
	text-align: center;
	color: rgb(209, 216, 9);
}

.btn {
	outline: none;
	text-decoration: none;
	opacity: 0.6;
	background-color: rgb(33, 40, 95);
	color: white;
	border: thin solid white;
	height: 40px;
	width: 100px;
	border-radius: 10px;
	transition: 0.5s;
}

.btn:hover {
	background-color: white;
	color: black;
	border: thin rgb(33, 40, 95) solid;
	opacity: 0.8;
	cursor: pointer;
}

.btn a {
	text-decoration: none;
}

.btn-div {
	text-align: center;
	margin: 0;
}

.quote-design {
	max-width: 30em;
  	color: white;
  	letter-spacing: 0.1em;
  	text-align: center;
  	margin: 40px auto;
  	font-weight: bold;
  }
