blockquote {
  border-left: 3px solid var(--border);
  padding-left: 1rem;
  margin: 1.25rem 0;
  color: var(--text-light);
  font-style: italic;
}

ul {
  margin-left: 0;
  list-style-position: inside;
  margin-bottom: 1.5rem;
  color: var(--text-light);
  /* line-height: 1.8; */
  font-size: 0.9rem;
}

ul li + li {
  margin-top: 0.75rem;
}

.spaced-out-list li + li {
  margin-top: 1.5rem;
}

.writeup-image {
  max-width: 90%;
  display: block;
  margin: 2rem auto;
}

.writeup-image-2026 {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5em;
}

.results-table {
  border-collapse: collapse;
  color: #4f566b;
  font-size: 0.8rem;
}

th {
  border: 1px solid #bbb;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border: 1px solid #bbb;
  padding: 0.5em 1em;
}

.results-table tr.row-group-end td,
tr.row-group-end th {
  border-bottom: 1px solid #4f566b;
}

figure {
  margin-bottom: 2rem;
}

figcaption {
  color: var(--text-light);
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
}

.post-content pre {
  margin-bottom: 1.5rem;
  font-family: var(--font-mono);
  font-size: 0.85rem;
  color: var(--text-light);
}

code {
  font-size: 0.85rem;
  color: var(--text-light);
}

.figure-title {
  font-weight: 600;
}

.best-performance-table-cell {
  font-weight: 900;
}
